<section>
  <!-- Botones para ordenar la lista de Pokémon -->
  <div class="order-buttons">
    <!-- Botón para ordenar por peso -->
    <button (click)="sortBy('weight')">Ordenar por Peso</button>

    <!-- Botón para ordenar por altura -->
    <button (click)="sortBy('height')">Ordenar por Altura</button>

    <!-- Botón para ordenar por número -->
    <button (click)="sortBy('id')">Ordenar por Número</button>
  </div>
  <div class="pokemon-list">
    <!-- Lista de Pokémon -->
  <ul>
    <!-- Itera sobre la lista de Pokémon 'pokemons' y crea un elemento de lista por cada uno -->
    <li *ngFor="let pokemon of pokemons" (click)="goToDetails(pokemon.name)">
      <div class="pokemon1">
        <!-- Muestra el número del Pokémon (ID) -->
        <span>#{{ pokemon.id }}</span>
        <!-- Muestra la imagen del Pokémon -->
        <img [src]="pokemon.image" alt="{{ pokemon.name }}" class="pokemon-image" />
        <!-- Muestra el nombre del Pokémon con formato 'titlecase' (capitalizando las primeras letras) -->
        <span>{{ pokemon.name | titlecase }}</span>
      </div>
      <div class="pokemon2">
        <!-- Muestra el peso del Pokémon -->
        <span>Peso:{{ pokemon.weight }}</span>
        <!-- Muestra la altura del Pokémon -->
        <span>Altura:{{ pokemon.height }}</span>
      </div>
    </li>
  </ul>
  </div>
</section>